<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-left">
            <a href="/"> Home</a>
            <a href="/searches">All Product</a>
            <a href="/mycard">My Card </a>
        </div>
    </header>

    <div>
        <h2>Get Maybeline Products between a range of prices</h2>
        <form action="/search" method="POST">
        <input type="text" name="brandname" placeholder="Add Brand Name" >
        <input type="text" name="graeterthan" placeholder="Price Graeter Than ">
        <input type="text " name="lowerthan" placeholder="Price Lower Than ">
        <button type="submit" value="search"> GET </button>
     </div>
    </form>
</body>
</html>